
body, html,.container{
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  max-width:100vw;
}
.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background-color: #656565;
  z-index: 10;
}
.footer {
  text-align:center;
  background-color: #656565;
}
.footer_nav  ,.copyrights{
  display: inline-block;
}
.copyrights{
  position: absolute;
  padding-top: 10px;
  right:2%;
  color: #fff;
}
nav{
  text-align:center;
  font-size: 20px;
}
nav ul {
  list-style:none;
  margin:0;
}
nav li{
  display:inline-block;
  border-left:2px solid #fff;
  font-weight: bold;
  padding: 5px 10px;
}
#aboutme h3{
  text-shadow: #656565 0 4px 10px;
}
nav li:last-child{
  border-right:2px solid #fff;
}
nav a {
  color:#fff;
  text-decoration: none;
}
h3{
  text-align: center;
}
.aboutmeImage {
  height:250px;
  width:250px;
  border-radius: 50%;
  border: 2px solid #656565;
}
.imageBox{
  text-align: center;
}
.aboutmeImage:hover{
  border:2px solid #656565;
  border-radius: 0;
}
.home,.creativeTitle{
  opacity: 0.65;
}
.home, .projects_container,.interests, .contactme {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutme {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
}
.home{
  background-image: url(../images/background1.jpg);
  min-height: 100%;
}
.projects_container{
  background-image: url(../images/background4.jpg);
  /*min-height: 100%;*/
}
.contactme {
  background-image: url(../images/background2.jpeg);
  min-height: 100%;
  text-align: center;
  width:100%;
  background-size: cover;
}
.works{
  background-image: url(../images/background3.jpg);
  text-align: center;
  background-size: cover;
  min-height: 100%;
  padding-top: 10%;
  /*padding-bottom: 5%;*/
}
.movingfeather  {
  text-align: center;
}
.contact{
  display: inline-block;
  margin-top: 10%;
}
.contact p{
  text-align: center;
}
.workImage{
  height: 350px;
  width:350px;
  border-radius: 1em;
  /*margin-left: 35%;*/
  opacity: 1;
  z-index: 100;
}
.workdetail{
  text-align: center;
  /*width:50%;*/
  /*margin-left: 30%;*/
}
.workImage,.workdetails{
  display: inline-block;
  /*margin-bottom: 5%;*/
}

.creative,.palette {
  display: inline-block;
}
.caption {
  position: absolute;
  left: 0;
  top: 10%;
  margin-bottom:10%;
  width: 100%;
  text-align: center;
  color: #000;
}
#output{
  padding-top:10%;
}
.project1,.project2,.project3,.project4,.project5,.project6{
  min-height: 60vh;
  /*height:100%;*/
}
section{
  text-align:center;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.interests{
  height:100%;
}
.creative {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
}
.palette > img{
  /*position: absolute;*/
  /*left: 0;*/
  top: 2%;
  width: 45%;
  height:45%;
  /*text-align: center;*/
  /*color: #000;*/
}
.creative span.creativeTitle{
  background-color: #111;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 5px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.border{
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}
.def{
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.xyz{
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}
.pqr {
  position: relative;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.projectLeft , .projectRight {
  display: inline-block;
}
.projects_container{
  padding:10%;
}
.projectLeft {
  width:60%;
}
.projectRight{
  width:35%;
}
div.projectRight > img.laptopDisplay {
  height: 90%;
  width: 90%;
}
div.projectRight > img.mobileDisplay {
  height: 100%;
  width: 90%;
}
.projectControls > a{
  margin-left: 5px;
  margin-top: 0px;
  display:inline-block;
  color:#fff;
  border:1px solid #ecdfea;
  background:#656565;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  min-width: 50px;
  max-width: 100px;
  padding: 5px;
  text-align: center;
  font-style: normal;
  border-radius: 10px;
  margin: 1em;
}
fieldset{
  border: none;
}
input,textarea{
  width:150%;
  padding: 0.5em;
  font-size: 20px;
}
button{
  padding: 1em;
  margin-left: 10px;
}
.contact form{
  width:100%;
  margin: auto;
}
.contact fieldset{
  text-align: center;
}
form{
  width:150%;
}
.imgSkills{
  width: 50px;
  height:50px;
}
.underscoreSkill{
  width:100px;
}
.projectTitle{
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 20px;
}
.reachableAt > span{
  margin-left: 10px;
}
.emailIcon{
  width:5%;
}
